---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=1111111&From=%2B15034873958
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiMTQ5NzQxZjFmN2JlNTAwZmZhN2E3NGQ0ZGIyMTI1ZToxMjkyZGZmY2UxNGU1NmM5NzU0NTMyYTg0YTdlNzk3Mg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.067'
      Twilio-Request-Id:
      - RQe235ff99a5aa4e6b951bfd05cc3d03e6
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 1111111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 26 Sep 2016 17:30:25 GMT
recorded_with: VCR 3.0.3
